@{
    @* Layout = "_NoHeaderNoFooterLayout"; // Sử dụng layout mới *@

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .product:hover {
        background-color: #e8e8e8;
    }
</style>

<div style="margin: 0;height: 1000px">
    <div style="width: 100%;">
        <div
            style="width: 100%; background-color: white; height: 50px; margin: 0px; align-items: center; border-bottom: 1px solid gray; box-shadow: 1px 1px 5px #888888; position: fixed; top: 0; display: flex; ">
            <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;padding: 30px">
                <div style="font-size: 25px;display: flex">
                    <img style="width: 40px; height: 40px;border-radius: 100px "
                        src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/275549265_119316327349050_7133039339301134607_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=WgVaE2EWQcwAX8jNR2l&_nc_ht=scontent.fhan14-1.fna&oh=00_AfBiKd6Wdt7aKyHqB0UISRBg1_wVwq0a46p6OMrtma-iNA&oe=65318654" />
                    <div style="align-items: center; margin-top: 5px; margin-left: 10px">
                        Stantioshop
                    </div>

                </div>
                <div style="font-size: 20px;">
                    <i class="fa fa-bell"></i>
                    <i class="fa fa-list"></i>

                </div>
            </div>
        </div>



        <div style="display: grid;grid-template-columns: 20% 80%;height: 100% ">
            <div style="box-shadow: 3px 3px 5px rgb(83, 83, 83);height: 100%; overflow-y: scroll; ">
                <div style="margin-top: 60px;line-height: 45px;font-size: 20px; ">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateProduct">
                        <div style="border-bottom: 1px solid gray;" class="product">
                            Create Product
                        </div>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Products">
                        <div style="border-bottom: 0.4px solid gray;" class="product">
                            Products
                        </div>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Customes">

                        <div style="border-bottom: 1px solid gray;" class="product">
                            Customes
                        </div>
                    </a>
                    <div style="border-bottom: 1px solid gray;" class="product">
                        Orders
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

</div>