@{
    @* ViewData["Title"] = "Privacy Policy"; *@
}
<h1>@ViewData["Title"]</h1>


<div style="margin-top: 40px; padding: 0; position: relative;">
    <div>
        <div>
            <div style="position: relative; height: 300px;">
                <img src="https://bizweb.dktcdn.net/100/328/362/themes/894751/assets/bg_breadcrumb.png?1664350964800"
                    style="width: 100%; height: 100%; position: relative;" />
                <div
                    style="position: absolute; font-size: 30px ;top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10; color: white; text-align: center">
                    Giới Thiệu
                </div>
            </div>
            <div>
                <div style="font-size: 25px; margin-top: 20px; font-weight: 500">
                    Giới thiệu
                </div>
                <div style="width: 96%; padding: 10px">
                    Tòa nhà cao nhất Việt Nam The Sky Land 90 của Công ty cổ phần công nghệ Sapo chính thức cho khách
                    hàng đặt giữ chỗ chọn mua đợt đầu vào ngày Event 1/7/2016. Sự kiện diễn ra lúc 18h tại nhà mẫu
                    Sapohomes Central Park, số 208 đường Nguyễn Chí Thanh, TP Hà Nội .– Đợt đầu đặt chỗ tầng 36 và 37
                    chỉ dành cho người nước ngoài. Các tầng còn lại tất cả các khách hàng chọn căn đặt cọc từ ngày
                    19/7/2016.


                </div>
                <div style="font-size: 22px; margin-top: 20px; font-weight: 500">
                    MỞ BÁN:
                </div>
                <div style="line-height: 30px;">
                    + Ngày công bố giá bán và cho khách đặt cọc từ: 19/7/2016 <br />

                    + Ngày tổ chức event mở bán: 25/7/2016 <br />

                    – Tòa nhà The Sky Land 90 tầng sở hữu những căn hộ đẳng cấp bậc nhất Việt Nam. Được nhiều các nhà
                    đầu tư trong và ngoài nước đặc biệt quan tâm. Khi mở bán kỳ vọng sẽ trở thành hiện tượng của thị
                    trường bất động sản trong nhiều năm trở lại đây.
                </div>
                <div style="line-height: 32px;">
                    <span style="font-weight: 600;">
                        1. Tổng quan: <br />
                    </span>

                    – Tổng chiều cao thiết kế: 512 m <br />

                    – Số tầng: 90 tầng nổi và 4 tầng hầm<br />

                    – Tổng diện tích sàn (không gồm hầm): 198.200 m2<br />

                    <span style="font-weight: 600;">
                        2. Diện tích căn hộ Tòa SkyLand 90:<br />
                    </span>

                    – Thiết kế từ: 1-2-3-4 phòng ngủ và Sky villa<br />

                    – Loại 1 phòng ngủ: 54-55-66 m2<br />

                    – Loại 2 phòng ngủ: 78-87-90-94 m2<br />

                    – Loại 3 phòng ngủ: 106-109-133-145 m2<br />

                    – Loại 4 phòng ngủ: 144-171-172-173-186-192-249-258-269-407-420-431 m2<br />
                    <span style="font-weight: 600;">

                        3. Loại hình phát triển The Sky Land 90:<br />
                    </span>

                    – Trung tâm thương mại, rạp chiếu phim, sân trượt băng trong nhà, gym (tầng B1,1, 2, 3)<br />

                    – Khu club house dành cho cư dân gồm hệ thống hồ bơi, gym, spa, bar và lounge ngoài trời (tầng
                    4).<br />

                    – Sảnh lounge tiêu chuẩn 5 sao và nhà sinh hoạt cộng đồng dành cho cư dân, nhà hàng cao cấp (tầng
                    5).<br />

                    – Khu căn hộ hiện đại (tầng 6 – 40) với căn hộ 1 – 4 phòng ngủ, sky villa.<br />

                    – Khách sạn SapoPearl 5 sao (tầng 42 – 76).<br />

                    – Đài quan sát (tầng 79 – 90).<br />
                    <span style="font-weight: 600;">

                        4. Thông tin kỹ thuật:<br />
                    </span>

                    Số lượng căn hộ/sàn: 10 – 20 căn.<br />

                    Số lượng thang máy: 26 thang máy.<br />

                    Số lượng thang thoát hiểm: 2 thang.<br />

                    Chiều rộng hành lang: 1,8m.<br />

                    Tầng hầm để xe (tầng B2, B3).<br />
                    <span style="font-weight: 600;">

                        Thông tin khác:<br />
                    </span>

                    – Đơn vị thiết kế: Tập đoàn Atkins (Anh Quốc)<br />

                    – Năm khởi công: 2016<br />

                    – Năm hoàn thành: Dự kiến 2019<br />
                </div>
            </div>
        </div>
    </div>
</div>
