<div>
    <div>
        <div style="font-size: 25px; margin: 20px 0px">
            Dự án nổi bật
        </div>
        <div>
            <div style="display: flex; ">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/174/202/products/20160620111733-a3bc.jpg?v=1495845814430"
                    style="width: 500px; height: 300px" />

                <div
                    style="width: 500px; padding-left: 40px; display: flex; justify-content: center; flex-direction: column;    ">
                    <div style="font-size: 25px; font-weight: 600">
                        Cho Thuê nhà cấp 4 tại Hoàng Mai
                    </div>
                    <div style=";">
                        &nbsp; &nbsp; &nbsp; Tôi cần cho thuê căn hộ 102m2 Him Lam Chợ Lớn quận 6.
                        - Nhà trống, 2PN, 2WC, 1 ban công, 1sân phơi.
                        - Tầng trung, view nhìn trực diện hồ bơi,...
                    </div>
                    <div>
                        &nbsp; &nbsp; &nbsp; - Giá: Liên hệ
                    </div>
                    <div>
                        &nbsp; &nbsp; &nbsp; - Diện tích: 45m2
                    </div>
                    <div>
                        &nbsp; &nbsp; &nbsp; - hotline tư vấn: 0332063668
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>